{% extends "layouts/main.html" %} {% set pageName="Home" %} {% block content %}

<script type="module" src="/public/js/dluhc.js"></script>
<link rel="stylesheet" href="/public/stylesheets/dluhc.css" />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

    <div id="siteSelectionForm" role="main"></div>
    <script type="module">
      window.DLUHC.renderSiteSelectionForm(
        {
          schemaFilepath: "/public/siteSelectionFull.json",
        },
        document.getElementById("siteSelectionForm")
      );
    </script>
  </div>
</div>

{% endblock %}
