{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/check-answers" method="post">

      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
          name: "notes",
          id: "notes",
          label: {
            text: "Use this space to provide any notes",
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}

      {{ govukButton({
          text: "Continue"
        }) }}

    </form>

  </div>
</div>

{% endblock %}